@charset "utf-8";
/* CSS Document */
p {
	background-color: #89cff0;
	padding: 10px;
	width: 600px;
  } 
 body {
	background-image: url("pozadina o_meni.jpg");
       } 
ul {
			padding:20px; 
			margin-left: auto; 
			margin-right:auto;  
			width: 300px;
			text-align: center;
	}
li {	display:inline;
        background-color: #89cff0;
		margin: 0 15px;
   }
a {
	border: 1px solid #4169e1;
	}