@charset "utf-8";
/* CSS Document */
p {
	background-color: #fcd5b5;
	padding: 10px;
	width: 600px;
  } 
 body {
	background-image: url("pozadina INDEX (2).jpg");
       } 
ul {
			padding:20px; 
			margin-left: auto; 
			margin-right:auto;  
			width: 300px;
			text-align: center;
	}
li {	display:inline;
        background-color: #fcd5b5;
		margin: 0 15px;
   }
   
@font-face {
    font-family: "NikaTkalecK1";
    src: url("NikaTkalecK1.ttf") format("truetype");
	       }
    .moj-stil {
		font-family: "NikaTkalecK1";
		      }
h1 {
  font-family: "NikaTkalecK1"
   }